body{
    background-image: url(music1.jpg);
    background-size: cover;
    box-sizing: border-box;
}
h1{
   text-align: center;
   font-size: 70px;
   color: rgba(255, 68, 0, 0.869);
   font-family:cursive;
   text-shadow: 0.5px 0.5px 7px whitesmoke;
   
}
.one{
border: 1px solid whitesmoke;
display: inline-block;
margin-left: 400px;
height: 350px;
width: 500px;  
text-align: center; 
padding-top: 110px;
box-sizing: border-box;
border-radius: 5px;
background-color: rgba(0, 0, 0, 0.577);
box-shadow: 2px 2px 10px whitesmoke;
    

}
.two{
    display: inline-block;
    height: 50px;
    width: 250px;
    background-color: #15ff00b9;
    align-content: center;
    border-radius: 7px;
}
.one:hover{
    /* background-color: rgba(245, 245, 245, 0.188); */
    background-color: rgba(0, 0, 0, 0.577);
   
}
a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 60px;
    font-weight: bold;

}
#reg{
    margin-bottom: 15px;
}