<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TuneHub</title>
    <link href="addsong.css" rel="stylesheet">
</head>
<body>
    <h2>Add Songs </h2>
<div> 
<form action="add-songs" method="post">
	<label >SongName : </label>
	<input class="input" type="text" name="name" />
	<br></br>
	<label>SongArtist : </label>
	<input class="input" type="text" name="artist" />
	<br></br>
	<label>SongGenre : </label>
	<input class="input" type="text" name="genre" />
	<br></br>
	<label>SongLink :    </label>
	<input class="input" type="text" name="link" />
	<br></br>
	<input id="submit" type="submit" value="ADD SONGS" />
</form>
</div>   
</body>
</html>