<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TuneHub</title>
    <link href="adminhome.css" rel="stylesheet">
</head>
<body>
    
        <h1>Welcome to admin home</h1>
    <form action="map-song">
        <input class="submit"  type="submit" value="Add songs"/>
        </form>
        <br>
        <div class="admin"><a  href="map-view">View the songs</a></div> 
        <br>
        <div class="admin"><a  href="map-createplaylist"> Create playlist</a></div> 
        <br>
        <div class="admin"><a href="map-viewplaylistAdmin">View playlist</a></div> 

</body>
</html>