
<!-- this is bootstrap code using bootstrp 5 -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link href="index.css" rel="stylesheet" type="text/css">
    <title>TuneHub</title>
  </head>
  <body>
  
 <!--   <img alt="bb" th:src="@{/im.jpg}">-->
    <h1>Welcome to Music World </h1>
    <div class="one">
        <div class="two" id="reg"><a href="map-register" >Click here to Register</a></div>
        <br><br>
        <div class="two"><a href="map-login" >Click here to Login</a></div>
    </div>
   
  </body>
</html>


<!-- this is our initial code -->
<!--
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1 >Welcome To TuneHub</h1>

<a href="map-register">Click here to Register</a>
<br></br>
<a href="map-login">Click here to login</a>
<br></br>

</body>
</html>
-->




