<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TuneHub</title>
   
       
    <link href="login.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>WelCome To TunHub Application</h1>
        <fieldset>
        <form action="/login" method="post">
            
            <input type="email" name="email" placeholder="Enter your email" id="email" required/>
            <br></br>
            
            <input type="password" name="password" placeholder="Password" id="password" required/>
            <br></br>
            <input type="submit" value="Login" id="login"/>
        </form>
    </fieldset>
    
</body>
</html>