<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TuneHub</title>
    <style>
        h2{
         margin-top: 250px;
         text-align: center;
         color:#06c83a;
        }
        div{
         margin-left: 570px;
        
         height: 50px;
         width: 200px;
         background-color: #06c83a;
         align-content: center;
         text-align: center;
         border-radius: 7px;
         
 
        } 
        a{
         text-decoration: none;
         color: black;
         font-size: 25px;
        }
     </style>
</head>
<body>
    <h2>You have register successful</h2>
<div> <a href="map-login">Login</a></div>
</body>
</html>